<section id="achievements">
    <div class="grid grid-cols-1 gap-4">
        <div class="bg-gray-900 rounded-lg border border-gray-600 p-4">
            <p class="text-white text-sm">
                Llevo a cabo activamente tareas en períodos de 1 semana, las cuales son asignadas a través de sprints ágiles y discutidas por el equipo de trabajo, <span class="span-skills">(España, Rastreator 2022 - actualidad)
            </p>
        </div>
        <div class="bg-gray-900 rounded-lg border border-gray-600 p-4">
            <p class="text-white text-sm">
                Logré mejorar las herramientas tecnológicas para acelerar la implementación del servicio remoto, reduciendo costos y ampliando el alcance, <span class="span-skills">(Argentina, Ellmann & Asociados Company 2020-2021)
            </p>
        </div>
        <div class="bg-gray-900 rounded-lg border border-gray-600 p-4">
            <p class="text-white text-sm">
                Desarrollé la web e imagen digital de la empresa, logrando así un aumento del 15% en las ventas del producto, <span class="span-skills">(Argentina, Decoryde.com 2019-2020)</span>.
            </p>
        </div>
    </div>
</section>
