<article
    class="rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:shadow-sm dark:shadow-gray-700/25 max-w-2xl">
    <div class="rounded-[10px] bg-white p-4 !pt-8 sm:p-6 bg-gradient-to-r from-green-300 to-purple-400">
        <div class="sm:block float-right">
            <img alt="frontend image" src="/img/frontend.png" class="h-16 w-16 object-contain"/>
        </div>
        <h3 class="block text-xs text-gray-500">Frontend</h3>
        <p class="mt-0.5 text-md font-bold text-grey-600" >Attracted to this part of the development because it has a more direct relationship with the product and the client, and it is where I have more skills</p>
        <div class="mt-4 flex flex-wrap gap-1">
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > JavaScript </span>
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > html / css</span>
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Sass</span>
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Bootstrap </span>
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Tailwind </span>
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Wordpress </span>
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Vue </span>
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Angular </span>
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Astro </span>
        </div>
    </div>
</article>
<article
    class="rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:shadow-sm dark:shadow-gray-700/25 max-w-2xl">
    <div class="rounded-[10px] bg-white p-4 !pt-8 sm:p-6 bg-gradient-to-r from-green-300 to-purple-400">
        <div class="sm:block float-right">
            <img alt="tools image" src="/img/backend.png" class="h-16 w-16 object-contain"/>
        </div>
        <h3 class="block text-xs text-gray-500">Backend</h3>
        <p class="mt-0.5 text-md font-bold text-grey-600" >Although it is not my area, I manage these tools that are essential for frontend development</p>
        <div class="mt-4 flex flex-wrap gap-1">
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Node.js </span>
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Express </span>
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Php </span>
        </div>
    </div>
</article>
<article
    class="rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:shadow-sm dark:shadow-gray-700/25 max-w-2xl">
    <div class="rounded-[10px] bg-white p-4 !pt-8 sm:p-6 bg-gradient-to-r from-green-300 to-purple-400">
        <div class="sm:block float-right">
            <img alt="tools image" src="/img/tools.png" class="h-16 w-16 object-contain"/>
        </div>
        <h3 class="block text-xs text-gray-500">Tools</h3>
        <p class="mt-0.5 text-md font-bold text-grey-600" >I program always in contact with version controller, online repository and package manager for backup and project automation.</p>
        <div class="mt-4 flex flex-wrap gap-1">
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Git </span>
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Github </span>
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Bitbucket </span>
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > npm </span>
        </div>
    </div>
</article>
<article
    class="rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:shadow-sm dark:shadow-gray-700/25 max-w-2xl">
    <div class="rounded-[10px] bg-white p-4 !pt-8 sm:p-6 bg-gradient-to-r from-green-300 to-purple-400">
        <div class="sm:block float-right">
            <img alt="design image" src="/img/design.png" class="h-16 w-16 object-contain"/>
        </div>
        <h3 class="block text-xs text-gray-500">Design UX/UI</h3>
        <p class="mt-0.5 text-md font-bold text-grey-600" >This is where I express my artistic area for the improvement of the user experience and its visual attraction to the product.</p>
        <div class="mt-4 flex flex-wrap gap-1">
            <span class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100" > Figma </span>
        </div>
    </div>
</article>