<article class="rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:shadow-sm dark:shadow-gray-700/25 max-w-2xl">
    <div class="rounded-[10px] bg-gray-900 p-4 !pt-8 sm:p-6">
      <div class="sm:block float-right">
        <img alt="frontend image" src="/images/frontend.png" class="h-10 w-10 ml-2 object-contain" />
      </div>
      <h3 class="block text-xs text-gray-400">Frontend</h3>
      <p class="mt-0.5 text-md text-gray-100">El principal enfoque es mejorar mis habilidades del desarrollo front valorando la conexión directa con el producto y el cliente</p>
      <div class="mt-4 flex flex-wrap gap-1">
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Angular</span>
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Typescript</span>
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Sass</span>

        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Tailwind</span>
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Vue</span>
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Astro</span>
      </div>
    </div>
</article>
  
  <!-- Repite el mismo patrón en los demás -->
  
  <!-- Backend -->
<article class="rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:shadow-sm dark:shadow-gray-700/25 max-w-2xl">
    <div class="rounded-[10px] bg-gray-900 p-4 !pt-8 sm:p-6">
      <div class="sm:block float-right">
        <img alt="tools image" src="/images/backend.png" class="h-10 w-10 ml-2 object-contain" />
      </div>
      <h3 class="block text-xs text-gray-400">Backend</h3>
      <p class="mt-0.5 text-md text-gray-100">Aunque no es mi área principal, manejo estas herramientas que son esenciales para el desarrollo frontend</p>
      <div class="mt-4 flex flex-wrap gap-1">
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Node.js</span>
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Express</span>
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Php</span>
      </div>
    </div>
</article>
  
  <!-- Tools -->
  <article class="rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:shadow-sm dark:shadow-gray-700/25 max-w-2xl">
    <div class="rounded-[10px] bg-gray-900 p-4 !pt-8 sm:p-6">
      <div class="sm:block float-right">
        <img alt="tools image" src="/images/tools.png" class="h-10 w-10 ml-2 object-contain" />
      </div>
      <h3 class="block text-xs text-gray-400">Tools</h3>
      <p class="mt-0.5 text-md text-gray-100">Programo siempre en contacto con control de versiones, repositorio en línea y gestor de paquetes para copias de seguridad y automatización de proyectos.</p>
      <div class="mt-4 flex flex-wrap gap-1">
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Git</span>
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Github</span>
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Bitbucket</span>
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Azure</span>
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">npm</span>
      </div>
    </div>
  </article>
  
  <!-- Design -->
  <article class="rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:shadow-sm dark:shadow-gray-700/25 max-w-2xl">
    <div class="rounded-[10px] bg-gray-900 p-4 !pt-8 sm:p-6">
      <div class="sm:block float-right">
        <img alt="design image" src="/images/design.png" class="h-10 w-10 ml-2 object-contain" />
      </div>
      <h3 class="block text-xs text-gray-400">Design UX/UI</h3>
      <p class="mt-0.5 text-md text-gray-100">Aquí es donde expreso mi área artística para mejorar la experiencia del usuario y su atracción visual hacia el producto.</p>
      <div class="mt-4 flex flex-wrap gap-1">
        <span class="rounded-full px-2.5 py-0.5 text-xs bg-violet-800 text-purple-100">Figma</span>
      </div>
    </div>
</article>
  