<div class="card-soft-skill">

        <div class="grid grid-cols-2 gap-4">
            <div
                class="block rounded-xl border  bg-gray-900 drop-shadow-xl border-gray-600 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
            >
                <span class="inline-block rounded-lg text-lime-500 p-3">
                    <svg
                        class="h-8 w-8"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 50 50"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            xmlns="http://www.w3.org/2000/svg"
                            d="M37.5138 8.975L36.0177 8.86794L36.0177 8.8682L37.5138 8.975ZM24.8444 8.975L26.3407 8.87004L26.3407 8.86988L24.8444 8.975ZM17.402 31.3928L18.8582 31.7527L18.8583 31.7522L17.402 31.3928ZM44.9572 31.3928L43.4995 31.7468L43.4998 31.7478L44.9572 31.3928ZM18.1257 10.7129L16.6295 10.6061L16.6295 10.6061L18.1257 10.7129ZM7.95175 10.7129L6.45542 10.8178L6.45543 10.8179L7.95175 10.7129ZM2.03453 28.6164L0.578279 28.2568L0.577776 28.2588L2.03453 28.6164ZM36.0177 8.8682C35.7771 12.2389 33.3506 14.45 31.1791 14.45V17.45C35.3232 17.45 38.6882 13.5909 39.01 9.0818L36.0177 8.8682ZM31.1791 14.45C29.0062 14.45 26.577 12.2384 26.3407 8.87004L23.3481 9.07996C23.6646 13.5934 27.0365 17.45 31.1791 17.45V14.45ZM26.3407 8.86988C26.2233 7.1987 26.7383 5.87324 27.5762 4.9715C28.4169 4.06676 29.6643 3.5 31.1791 3.5V0.5C28.8902 0.5 26.8263 1.37135 25.3785 2.92941C23.928 4.49048 23.1775 6.65252 23.3481 9.08012L26.3407 8.86988ZM31.1791 3.5C34.0984 3.5 36.2445 5.69824 36.0177 8.86794L39.01 9.08206C39.3591 4.20338 35.8673 0.5 31.1791 0.5V3.5ZM31.1791 20.65C24.5197 20.65 17.6777 24.0143 15.9457 31.0335L18.8583 31.7522C20.1402 26.5574 25.3284 23.65 31.1791 23.65V20.65ZM15.9458 31.033C15.5682 32.561 16.5101 34.5 18.5269 34.5V31.5C18.5701 31.5 18.633 31.512 18.6974 31.5474C18.7589 31.5811 18.7999 31.6239 18.8238 31.6593C18.869 31.7261 18.8556 31.7634 18.8582 31.7527L15.9458 31.033ZM18.5269 34.5H43.8323V31.5H18.5269V34.5ZM43.8323 34.5C45.8541 34.5 46.7844 32.5567 46.4146 31.0379L43.4998 31.7478C43.5031 31.7615 43.4889 31.7265 43.5336 31.6603C43.5574 31.625 43.5985 31.5819 43.6605 31.5478C43.7256 31.5121 43.789 31.5 43.8323 31.5V34.5ZM46.4148 31.0388C44.6828 23.9071 37.8256 20.65 31.1791 20.65V23.65C37.0447 23.65 42.2177 26.4689 43.4995 31.7468L46.4148 31.0388ZM16.6295 10.6061C16.4449 13.1922 14.5673 14.8375 13.0387 14.8375V17.8375C16.5549 17.8375 19.3573 14.5267 19.6219 10.8197L16.6295 10.6061ZM13.0387 14.8375C11.5086 14.8375 9.62928 13.1916 9.44807 10.608L6.45543 10.8179C6.71573 14.5292 9.52408 17.8375 13.0387 17.8375V14.8375ZM9.44808 10.6081C9.27879 8.19236 10.8796 6.6 13.0387 6.6V3.6C9.12037 3.6 6.16592 6.68671 6.45542 10.8178L9.44808 10.6081ZM13.0387 6.6C15.188 6.6 16.7983 8.24205 16.6295 10.6061L19.6219 10.8197C19.9119 6.75714 16.9669 3.6 13.0387 3.6V6.6ZM19.3312 20.9823C17.347 20.0647 15.2093 19.7345 13.0387 19.7345V22.7345C14.9128 22.7345 16.5913 23.0205 18.072 23.7052L19.3312 20.9823ZM13.0387 19.7345C7.64366 19.7345 2.00811 22.4669 0.578281 28.2568L3.49078 28.976C4.47007 25.0106 8.4518 22.7345 13.0387 22.7345V19.7345ZM0.577776 28.2588C0.243059 29.6225 1.08321 31.4 2.93387 31.4V28.4C3.01881 28.4 3.1192 28.4222 3.21564 28.4751C3.30915 28.5264 3.37675 28.5942 3.42094 28.6595C3.50654 28.786 3.50859 28.9035 3.49129 28.974L0.577776 28.2588ZM2.93387 31.4H13.7106V28.4H2.93387V31.4Z"
                            fill="#23D760"></path>
                    </svg>
                </span>

                <p class="sm:mt-1 sm:block text-sm text-gray-300">
                    <span class="mt-2 font-bold text-base text-lime-500"
                        >Sinergia</span
                    >
                    Trabajo en equipo con iniciativa y toma de decisiones, basado
                    en una buena comunicación
                </p>
            </div>

            <div
                class="block rounded-xl border  bg-gray-900 drop-shadow-xl border-gray-600 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
            >
                <span class="inline-block rounded-lg text-violet-600 p-3">
                    <svg
                        class="h-8 w-8"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 50 50"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M17.0019 8.16665C18.7275 8.16665 20.1265 6.7862 20.1265 5.08332C20.1265 3.38045 18.7275 2 17.0019 2C15.2762 2 13.8772 3.38045 13.8772 5.08332C13.8772 6.7862 15.2762 8.16665 17.0019 8.16665Z"
                            stroke="#B930E9"
                            stroke-width="3"
                            stroke-linejoin="round"></path>
                        <path
                            d="M12.9578 21.9214C13.1844 20.5292 13.2859 19.1834 12.9188 18.253C12.6063 17.4529 11.9267 17.005 11.1065 16.6997L3.87847 14.3919C2.94109 14.0835 2.06541 13.5671 2.0037 12.5465C1.92559 11.2361 3.09732 10.3882 4.26905 10.6965C4.26905 10.6965 11.1432 13.0969 17.0019 13.0969C22.8605 13.0969 29.6565 10.7073 29.6565 10.7073C31.0626 10.3219 32 11.4011 32 12.5411C32 13.6365 31.1407 14.0219 30.1252 14.3865L23.2511 16.8462C22.6262 17.0775 21.6107 17.54 21.2201 18.2476C20.7514 19.0762 20.8295 20.5238 21.056 21.916L21.5169 24.1999L24.4392 36.8339C24.6579 37.8475 23.9471 38.7949 22.9238 38.9721C21.9005 39.1494 21.0639 38.4603 20.7608 37.4798L17.8267 28.5436C17.6856 28.115 17.5606 27.6815 17.4518 27.2432L17.0019 25.4333L16.5878 27.1021C16.4566 27.634 16.3056 28.1602 16.1348 28.6808L13.2523 37.4721C12.9399 38.4626 12.1196 39.1487 11.0963 38.9721C10.073 38.7956 9.34655 37.7704 9.5762 36.8339L12.4969 24.2053L12.9578 21.9214Z"
                            stroke="#B930E9"
                            stroke-width="3"
                            stroke-linejoin="round"></path>
                    </svg>
                </span>

                <p class="sm:mt-1 sm:block text-sm text-gray-300">
                    <span class="mt-2 font-bold text-base text-violet-600"
                        >Tiempo</span
                    >
                    Metodologías ágiles, con sprints cortos enfocados en las necesidades
                    y objetivos.
                </p>
            </div>

            <div
                class="block rounded-xl border  bg-gray-900 drop-shadow-xl border-gray-600 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
            >
                <span class="inline-block rounded-lg text-blue-500 p-3">
                    <svg
                        class="h-8 w-8"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 50 50"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M20 9.75001V33M20 9.75001C21.2857 4.65115 26.1417 2.04764 36.7143 2.00001C36.8833 1.99937 37.0508 2.03234 37.2071 2.09703C37.3633 2.16171 37.5053 2.25683 37.6248 2.3769C37.7444 2.49697 37.839 2.63962 37.9034 2.79662C37.9678 2.95362 38.0006 3.12187 38 3.29168V26.5417C38 26.8842 37.8645 27.2128 37.6234 27.455C37.3823 27.6973 37.0553 27.8333 36.7143 27.8333C26.4286 27.8333 22.4549 29.917 20 33C17.5596 29.9323 13.5714 27.8333 3.28572 27.8333C2.49179 27.8333 2.00001 27.1835 2.00001 26.3859V3.29168C1.99937 3.12187 2.03219 2.95362 2.09658 2.79662C2.16097 2.63962 2.25565 2.49697 2.37516 2.3769C2.49468 2.25683 2.63667 2.16171 2.79295 2.09703C2.94923 2.03234 3.1167 1.99937 3.28572 2.00001C13.8583 2.04764 18.7143 4.65115 20 9.75001Z"
                            stroke="#287DE1"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </span>

                <p class="sm:mt-1 sm:block text-sm text-gray-300">
                    <span class="mt-2 font-bold text-base text-blue-500"
                        >Preparación</span
                    >
                    Buscar y analizar las diferentes plataformas para la resolución
                    de problemas
                </p>
            </div>

            <div
                class="block rounded-xl border  bg-gray-900 drop-shadow-xl border-gray-600 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
            >
                <span class="inline-block rounded-lg text-amber-400 p-3">
                    <svg
                        class="h-8 w-8"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 50 50"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M5.4375 24.5H2.6875C2.3078 24.5 2 24.7798 2 25.125V36.375C2 36.7202 2.3078 37 2.6875 37H5.4375C5.8172 37 6.125 36.7202 6.125 36.375V25.125C6.125 24.7798 5.8172 24.5 5.4375 24.5Z"
                            stroke="#F7E22A"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M24.6875 17H21.9375C21.5578 17 21.25 17.2798 21.25 17.625V36.375C21.25 36.7202 21.5578 37 21.9375 37H24.6875C25.0672 37 25.375 36.7202 25.375 36.375V17.625C25.375 17.2798 25.0672 17 24.6875 17Z"
                            stroke="#F7E22A"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M34.3125 8.25H31.5625C31.1828 8.25 30.875 8.52982 30.875 8.875V36.375C30.875 36.7202 31.1828 37 31.5625 37H34.3125C34.6922 37 35 36.7202 35 36.375V8.875C35 8.52982 34.6922 8.25 34.3125 8.25Z"
                            stroke="#F7E22A"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M15.0625 2H12.3125C11.9328 2 11.625 2.27982 11.625 2.625V36.375C11.625 36.7202 11.9328 37 12.3125 37H15.0625C15.4422 37 15.75 36.7202 15.75 36.375V2.625C15.75 2.27982 15.4422 2 15.0625 2Z"
                            stroke="#F7E22A"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </span>

                <p class="sm:mt-1 sm:block text-sm text-gray-300">
                    <span class="mt-2 font-bold text-base text-amber-400"
                        >Enfoque</span
                    >
                    Planificar y ejecutar iniciativas para el crecimiento profesional.
                </p>
            </div>
        </div>

</div>
