<section class="mt-8 sm:mt-12  mx-3 bg-white" id="achievements">
    <h2 class="justify-left text-center lg:text-left  text-2xl lg:px-48 font-bold pt-12">Key Accomplishments</h2>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 lg:px-48 py-8">
        <div class="flex flex-col rounded-lg border border-gray-100 px-2 py-4 text-center">
            <p class="font-extrabold text-black text-sm">
                I actively carry out the tasks in periods of 1 week, which are assigned through agile sprints and discussed by the work team, <span class="span-skills">(España, Rastreator 2022 to present)
            </p>
        </div>
        <div class="flex flex-col rounded-lg border border-gray-100 px-2 py-4 text-center">
            <p class="font-extrabold text-black text-sm">
                I managed to improve technological tools to speed up the implementation of the remote service, reducing costs and expanding the scope, <span class="span-skills">(Argentina, Ellmann & Asociados Company 2020-2021)
            </p>
        </div>
        <div class="flex flex-col rounded-lg border border-gray-100 px-2 py-4 text-center">
            <p class="font-extrabold text-black text-sm">
                Develop the content and digital image of the company, thus achieving a 15% increase in product sales, <span class="span-skills">(Argentina, Decoryde.com 2019-2020)</span>.
            </p>
        </div>
    </div>
</section>
