<footer aria-labelledby="footer-heading">
  <span class="mt-2 text-sm font-light text-gray-500">
    Acerca de mi, soy directora de orquetas puedes verme en youtube <a
      href="https://youtube.com/@dayerlinbustamante9917"
      class="mx-2 text-wickedblue hover:text-gray-500 text-sky-500"
      rel="nofollow">@dayerlinbustamante9917</a
    > y como hobby suelo jugar al Baloncesto. Si quieres contactarme tienes las redes
    y el email.
    <a
      href="mailto:day.devprograms@gmail.com"
      class="mx-2 text-wickedblue hover:text-gray-500 text-sky-500"
      rel="nofollow">day.devprogram@gmail.com</a
    >
  </span>
</footer>
