<nav aria-label="Site Nav" class="mx-auto flex items-center justify-center p-4 shadow-xl bg-white" >
  <a href="/" class="inline-flex h-10 w-10 items-center justify-center rounded-lg">
    <img src="../../public/logo.webp" alt="">
  </a>

  <ul class="flex items-center gap-2 text-sm font-medium text-gray-500">
    <li>
        <a class="rounded-lg px-3 py-2 hover:text-gray-800" href="#projects"> Projects</a>
    </li>
    <li>
      <a class="inline-flex items-center gap-2 rounded-lg px-3 py-2 hover:text-gray-800" href="#achievements"> Achievements </a>
    </li>
    <li>
        <a class="rounded-lg px-3 py-2 hover:text-gray-800" href="#skills"> Skills</a>
    </li>
  </ul>
  <div class="items-center hidden lg:flex">
        <a class="rounded-lg px-3 py-2" href="https://www.instagram.com/dayerlin_bustamante/?hl=es">
            <img src="/img/ig.svg" alt="instagram red social">
        </a>
        <a class="rounded-lg px-3 py-2" href="https://github.com/dayerlin-bustamante">
            <img src="/img/github.svg" alt="github perfil">
        </a>
        <a class="rounded-lg px-3 py-2" href="https://www.linkedin.com/in/dayerlin-bustamante-680b52232/"> 
            <img src="/img/linkedin.svg" alt="linkedin personal">
        </a>
    </div>
</nav>
